@import "tailwindcss";

::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: .5rem;
  background-color: #111827;
}

::-webkit-scrollbar-thumb {
  height: .1rem;
  background-color: rgba(128, 128, 128, 0.316);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 54%);
}
